canvas{
    display: none;
    border: none;
    background: rgba(0, 0, 0, 1);
}

body {
    margin: 0;
}

.upload-1 {
    margin: 10% 20%;
    text-align: center;
}

.upload-2 {
    margin: 5% 20%;
    text-align: center;
}

.submit {
    padding-top: 10%;
    text-align: center;
}